body {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
  margin-top: 100px;
}

hr {
  border-top: 5px black dotted;
  margin: 100px 0;
}
#profilePic {
  max-height: 400px;
  border-radius: 25%;
  display: block;
}

.row {
  margin-top: 20px;
}
.thumbnail.profile {
  max-width: 300px;
  display: block;
  margin: auto;
  background: transparent;
  border-style: none;
}
.thumbnail.pic {
  min-height: 250px;
  width: 100%;
}

.thumbnail.pic:hover {
  border: 5px solid teal;
}

#bottom {
  height: 50px;
  background: #101010;
  padding: 0 260px;
}
.fa-facebook-square {
  font-size: 48px;
  margin-right: 10px;
}
.fa-linkedin-in {
  font-size: 48px;
}

#intro {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;

}
#intro:hover {
  color: white;
}

a {
  color: inherit;
}
#facebook:hover {
  color: #4267b2;
}
#linkedin:hover {
  color: #0077B5;
}

.upperCase {
  text-transform: uppercase;
}

